/* mod-simple-teaser */
.mod-simple-teaser {
	@include prefix(box-sizing, border-box);
	margin: 20px 0;

	a {
		display: block;
		text-decoration: none;
	}

	img {
		width: 100%;
	}

	@include respond-min($breakpoint-min-s) {
		float: left;
		width: 50%;
		padding: 20px;

		img {
			width: auto;
		}
	}

	/* Desktop */
	@include respond-min($breakpoint-min-m) {
		width: 33.3333333333%;
	}

}
